<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border='1'>

    <tr align="center">
        <td>id</td>
        <td>title</td>
        <td>pub</td>
        <td>price</td>
        <td>market_price</td>
        <td>op</td>
    </tr>
    {% for book in booklist %}
    <tr align="center">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.pub }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.market_price }}</td>
        <td>
            <a href="editbook/{{ book.id }}">更新</a>
            <a href="">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>